<?xml version="1.0"?>
<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<!-- project properties -->
  <Name>Benthic Terrain Modeler (BTM)</Name>
  <AddInID>{2dac2ae8-b5f3-4263-9f5d-aaed6b47316b}</AddInID>
  <Description>Tools for modeling and classifying benthic terrain.</Description>
  <Version>3.0-rc-1</Version>
  <Image>Images\btm-steps_64x64.png</Image>
  <Author>Shaun Walbridge</Author>
  <Company>Esri</Company>
  <Date>12/13/2013</Date>

<Targets>
  <Target name="Desktop" version="10.1" />
</Targets>

<AddIn language="PYTHON" library="btm_addin.py" namespace="btm_addin">
<ArcMap>

  <Commands>

    <!-- top-level BTM tools -->
    <Button
      caption="Benthic Terrain Classification Wizard"
      category="Benthic Terrain Modeler (BTM)"
      class="ButtonRunBTMSteps"
      id="runBTMSteps.button"
      image="Images\btm-steps_16x16.png"
      message="Run all steps of the Benthic Terrain Modeler."
      tip="BTM Wizard">
      <Help
        heading="BTM Wizard"
        >Run all steps of the Benthic Terrain Modeler.</Help>
    </Button>

    <Button
      caption="Classify Benthic Terrain"
      category="Benthic Terrain Modeler (BTM)"
      class="classifyBenthicTerrain"
      id="classifyBenthicTerrain.button"
      image="Images\classify-terrain_16x16.png"
      message="Use the generated classifications and models to produce a single classified map."
      tip="Run the Benthic Terrain Classification">
      <Help
        heading="Run the Benthic Terrain Classification"
        >Use the generated classifications and models to produce a single classified map.</Help>
    </Button>

    <!-- Bathymetric Position Index (BPI) -->
    <Button
      caption="Broad Scale BPI"
      category="Benthic Terrain Modeler (BTM)"
      class="calculateBroadBPI"
      id="caculateBroadBPI.button" 
      image="Images\bpi-coarse_16x16.png"
      message="Build a broad-scale bathymetric position index grid."
      tip="Calculate Broad Scale BPI">
      <Help
        heading="Calculate Broad Scale BPI"
        >Build a broad-scale bathymetric position index grid.</Help>
    </Button>

    <Button
      caption="Fine Scale BPI"
      category="Benthic Terrain Modeler (BTM)"
      class="calculateFineBPI"
      id="caculateFineBPI.button"
      image="Images\bpi-fine_16x16.png"
      message="Build a fine-scale bathymetric position index grid."
      tip="Calculate Fine Scale BPI">
      <Help
        heading="Calculate Fine Scale BPI"
        >Build a fine-scale bathymetric position index grid.</Help>
    </Button>

    <Button
      caption="Standardize BPI Grids"
      category="Benthic Terrain Modeler (BTM)"
      class="standarizeBPI"
      id="standarizeBPI.button"
      image="Images\standardize-with-z_16x16.png"
      message="Standardize the two BPI grids so their units are comparible."
      tip="Calculate Standarized BPI Grids">
      <Help
        heading="Calculate Standarized BPI Grids"
        >Standardize the two BPI grids so their units are comparible.</Help>
    </Button>

    <!-- Geomorphological Parameters -->
    
    <Button
      caption="Surface Area to Planar Area"
      category="Benthic Terrain Modeler (BTM)"
      class="calculateSaPa"
      id="calculateSaPa.button"
      image="Images\sapa_16x16.png"
      message="Measures the surface roughness by comparing the ratio planar area to surface area. In previous versions of BTM, this tool was called 'Rugosity'."
      tip="Calculate Surface Area to Planar Area">
      <Help
        heading="Calculate Surface Area to Planar Area"
        >Measures the surface roughness by comparing the ratio planar area to surface area. In older versions of BTM, this tool was labeled 'Rugosity'.</Help>
    </Button>
    <Button
      caption="Terrain Ruggedness (VRM)"
      category="Benthic Terrain Modeler (BTM)"
      class="calculateTerrainRuggedness"
      id="calculateTerrainRuggedness.button"
      image="Images\vrm_16x16.png"
      message="Uses the VRM algorithm developed by Sappington et al. (2007)"
      tip="Calculate Terrain Ruggedness using the vector ruggedness measure (VRM)">
      <Help
        heading="Calculate Terrain Ruggedness (VRM)"
        >Measure terrain ruggedness via vector analysis, comparing 3-dimensional orientation of cells.</Help>
    </Button>

    <Button
      caption="Aspect"
      category="Benthic Terrain Modeler (BTM)"
      class="calculateAspect"
      id="calculateAspect.button"
      image="Images\aspect_16x16.png"
      message="Compute Aspect"
      tip="Compute Aspect">
      <Help heading="Compute Aspect" />
    </Button>

    <Button
      caption="Slope"
      category="Benthic Terrain Modeler (BTM)"
      class="calculateSlope"
      id="calculateSlope.button"
      image="Images\slope_16x16.png"
      message="Compute Slope"
      tip="">
      <Help heading="Compute Slope" />
    </Button>

    <Button
      caption="Curvature (Slope of Slope)"
      category="Benthic Terrain Modeler (BTM)"
      class="calculateCurvature"
      id="calculateCurvature.button"
      image="Images\curvature_16x16.png"
      message="Compute Curvature (Slope of Slope) and optionally: Plan Curvature and Profile Curvature."
      tip="Calculate Curvature (AKA Slope of Slope)">
      <Help
        heading="Compute Curvature"
        >Compute Curvature (Slope of Slope) and optionally: Plan Curvature and Profile Curvature.</Help>
    </Button>

    <Button
      caption="Depth Statistics"
      category="Benthic Terrain Modeler (BTM)"
      class="calculateDepthStatistics"
      id="calculateDepthStatistics.button"
      image="Images\depth-statistics_16x16.png"
      message="Depth statistics include mean water depth and the standard deviation of depth."
      tip="Compute Depth Statistics">
      <Help
        heading="Compute Depth Statistics"
        >Depth statistics include mean water depth and the standard deviation of depth.</Help>
    </Button>


    <Tool
      caption="Wizard"
      category="Benthic Terrain Modeler (BTM)"
      class="RunBTMSteps"
      id="RunBTMSteps.tool"
      image="Images\btm-steps_16x16.png"
      message="Run all steps of the Benthic Terrain Modeler"
      tip="BTM Wizard">
      <Help
        heading="BTM Wizard"
        >Run all steps of the Benthic Terrain Modeler</Help>
    </Tool>

  </Commands>

  <Extensions></Extensions>

  <!-- TOOLBAR: the overall container for all objects -->
  <Toolbars>
    <Toolbar
      caption="Benthic Terrain Modeler"
      category="Benthic Terrain Modeler (BTM)"
      id="btm.toolbar"
      showInitially="true">
      <Items>
        <Menu refID="btm_addin.menu" />
        <Tool refID="RunBTMSteps.tool" />
      </Items>
    </Toolbar>
  </Toolbars>

  <Menus>
    <!-- menu: TOP-LEVEL dropdown menu for project. -->
    <Menu
      caption="Benthic Terrain Modeler"
      category="Benthic Terrain Modeler (BTM)"
      id="btm_addin.menu"
      isRootMenu="false"
      isShortcutMenu="false"
      separator="true">
      <Items>
        <Menu refID="bpi.menu" />
        <Menu refID="geomorphometry.menu" />
        <Button refID="runBTMSteps.button" />
        <Button refID="classifyBenthicTerrain.button" />
      </Items>
    </Menu>

    <!-- menu: general-purpose Geomorphometry tools. -->
    <Menu
      caption="Geomorphometry"
      category="Benthic Terrain Modeler (BTM)"
      id="geomorphometry.menu"
      isRootMenu="false"
      isShortcutMenu="false"
      separator="true">
      <Items>
        <Button refID="calculateAspect.button" />
        <Button refID="calculateSlope.button" />
        <Button refID="calculateCurvature.button" />
        <Button refID="calculateSaPa.button" />-->
        <Button refID="calculateTerrainRuggedness.button" />
        <Button refID="calculateDepthStatistics.button" />"
      </Items>
    </Menu>

    <!-- menu: BPI specific tools. -->
    <Menu
      caption="Bathymetric Position Index (BPI)"
      category="Benthic Terrain Modeler (BTM)"
      id="bpi.menu"
      isRootMenu="false"
      isShortcutMenu="false"
      separator="true">
      <Items>
        <Button refID="caculateBroadBPI.button" />
        <Button refID="caculateFineBPI.button" />
        <Button refID="standarizeBPI.button" />
      </Items>
    </Menu>
 </Menus>

</ArcMap>
</AddIn>
</ESRI.Configuration>
